.my-row{
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}
.my-col{
  padding: 0;
}
.container{
  max-width: 1000px;
  width: 100%;
}
.alert-row{
  margin: 20px 0 20px 0;
}
.alert-success,
.alert-warning{
  margin: 0;
}